global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'auth-service'
    static_configs:
      - targets: ['auth-service:3000']

  - job_name: 'students-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['host.docker.internal:3001']

  - job_name: 'rooms-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['host.docker.internal:3002']

  - job_name: 'checkin-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['host.docker.internal:3003']

  - job_name: 'analytics-service'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['host.docker.internal:3004']

