# Application
NODE_ENV=development
PORT=3001

# Database
DATABASE_TYPE=mysql
DATABASE_HOST=localhost
DATABASE_PORT=3307
DATABASE_USER=app_user
DATABASE_PASSWORD=app_password
DATABASE_NAME=academic

# Messaging
MESSAGING_TYPE=kafka
KAFKA_BROKERS=localhost:9092

# Cache
CACHE_TYPE=redis
REDIS_HOST=localhost
REDIS_PORT=6379

# AWS (para produção)
# AWS_REGION=us-east-1
# AWS_ACCOUNT_ID=123456789012

